/* PARTNERS_NAVIGATION START */

/* MWPW-159021 - Fix eslint errors */
/* stylelint-disable */
/* PARTNERS_NAVIGATION END */
:root {
  --feds-color-profile-heading: #707070;
  --feds-color-profile: #4b4b4b;
  --feds-color-profile--emphasis: #2c2c2c;
  --feds-border-profile: 1px solid #e1e1e1;
}

.feds-profile-menu {
  position: absolute;
  width: 320px;
  right: 0;
  top: 100%;
  border: var(--feds-border-profile);
  border-radius: 0 0 4px 4px;
  background: var(--color-white);
  overflow: hidden;
  box-shadow: 0 2px 6px -1px rgb(0 0 0 / 10%);
  display: none;
  line-height: 1;
  white-space: nowrap;
  z-index: 1;
  transform: translate3d(0,0,0); /* Fix Safari issues w/ position: sticky */
}

/* PARTNERS_NAVIGATION START */
/* MWPW-158926 - The company name is cut when it is long */
.feds-profile-menu .company-placeholder {
  white-space: normal;
}
/* PARTNERS_NAVIGATION END */

[dir = "rtl"] .feds-profile-menu {
  right: initial;
  left: 0;
}

.feds-profile-button[aria-expanded = "true"] + .feds-profile-menu {
  display: block;
}

.feds-profile-header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  outline-offset: -3px;
  column-gap: 15px;
}

.feds-profile-header .feds-profile-img {
  max-height: 64px;
  max-width: 64px;
  /* PARTNERS_NAVIGATION START */
  /* MWPW-157753 - Make profile picture, firstName, lastName and email unclickable */
  pointer-events: none;
  /* PARTNERS_NAVIGATION END */
}

.feds-profile-details {
  overflow: hidden;
  line-height: 1.25;
}

.feds-profile-name,
.feds-profile-email {
  text-overflow: ellipsis;
  overflow: hidden;
}

.feds-profile-name {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: var(--feds-color-profile--emphasis);
}

.feds-profile-email {
  margin: 0 0 6px;
  font-size: 14px;
  color: var(--feds-color-profile-heading);
}

.feds-profile-account {
  margin: 0;
  font-size: 14px;
  text-decoration: underline;
  /* PARTNERS_NAVIGATION START */
  /* MWPW-157753 - Make profile picture, firstName, lastName and email unclickable */
  color: var(--link-color);
  /* PARTNERS_NAVIGATION END */
}

.feds-local-menu {
  border-top: var(--feds-border-profile);
  padding: 6px 0;
}

.feds-local-menu h5 {
  margin: 0;
  padding: 8px 20px;
  color: var(--feds-color-profile-heading);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: none;
}

.feds-local-menu p {
  margin: 0;
}

.feds-local-menu a,
.feds-profile-actions a {
  display: block;
  color: var(--feds-color-link);
}

.feds-local-menu a:hover,
.feds-profile-actions a:hover {
  color: var(--feds-color-link--hover);
  background-color: var(--feds-background-link--hover);
}

.feds-local-menu a {
  padding: 6px 20px;
  line-height: 1.4;
  outline-offset: -1px;
}

.feds-profile-actions {
  margin: 0;
  padding: 0;
}

.feds-profile-action {
  padding: 14px 20px;
  border-top: var(--feds-border-profile);
}

/* PARTNERS_NAVIGATION START */
/* MWPW-172075 - Implement redesigned for the combined Profile Dropdown */
.partners-navigation .feds-profile-menu {
  padding: 0 24px;
  box-sizing: border-box;
}

.partners-navigation .feds-profile-menu .feds-profile-action {
  padding-top: 16px;
  padding-bottom: 22px;
  color: #505050;
}

.partners-navigation .feds-profile-menu .feds-profile-action:hover {
  background: transparent;
  text-decoration: underline;
}

.partners-navigation .feds-profile-header {
  padding: 20px 0;
  padding-top: 24px;
}

.partners-navigation .feds-local-menu {
  padding-top: 4px;
  padding-bottom: 0px;
}
/* MWPW-172075 - Implement redesigned for the combined Profile Dropdown
   if no section title is present add padding top
 */
.partners-navigation .feds-local-menu .no-section-title {
  padding-top: 12px;
  padding-bottom: 0px;
}

.partners-navigation .feds-local-menu > h5,
.partners-navigation .feds-profile-menu .feds-profile-action {
  padding-left: 0;
  padding-right: 0;
}

.partners-navigation .feds-local-menu .company-placeholder,
.partners-navigation .feds-local-menu .level-placeholder {
  padding-top: 0;
  font-size: 15px;
  color: #323232;
  font-weight: normal;
  text-transform: none;
  line-height: 1.5;
}

.partners-navigation .feds-local-menu .company-placeholder {
  font-weight: bold;
  padding-bottom: 0;
}

.partners-navigation .feds-local-menu .level-placeholder {
  padding-bottom: 0;
}

.partners-navigation .feds-local-menu a {
  text-transform: none;
  font-size: 14px;
  padding: 16px 0;
  color: #2680EB; /* MWPW-172075 different link colors */
  font-style: normal;
  line-height: 1;
}

.partners-navigation .feds-local-menu a:hover {
  background: transparent;
  color: #2680EB; /* MWPW-172075 different link colors */
  text-decoration: underline;
}

.partners-navigation .partner-renew {
  padding: 7px 12px 1px 12px;
  margin-top: 9px;
  border: 1px solid #D5D5D5;
  border-radius: 4px;
}

.partners-navigation .partner-renew a {
  padding: 0;
  font-size: 14px;
  text-decoration: underline;
  line-height: 1.4;
}

.partners-navigation .partner-renew a:hover {
  background: transparent;
}

.partners-navigation .partner-renew p {
  font-size: 12px;
  margin-bottom: 8px;
  margin-top: 1px;
}

.partners-navigation .feds-local-menu hr {
  margin: 0;
  border: 0;
  border-top: 1px solid #EAEAEA;
}

.partners-navigation .primary-contact-wrapper {
  position: absolute;
  top: 0;
  right: 20px;
  background: #747474;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 24px;
}

.partners-navigation .primary-contact-wrapper p {
  padding: 0 9px;
  margin: 0;
  font-size: 12px;
  color: #FFFFFF;
}
/* PARTNERS_NAVIGATION END */
