#partner-agreement-modal .agreement-wrapper {
    padding: var(--spacing-l);
}

#partner-agreement-modal .agreement-header {
    display: flex;
    justify-content: space-between;
}

#partner-agreement-modal .agreement-hr {
    margin-bottom: var(--spacing-m);
    border: 1px solid var(--color-gray-200);
}

#partner-agreement-modal .agreement-description {
    margin-bottom: var(--spacing-m);
}

#partner-agreement-modal .agreement-text {
    margin-bottom: var(--spacing-m);
    padding: var(--spacing-s);
    border: 1px solid var(--color-gray-200);
    border-right: none;
    height: 50vh;
    overflow-y: scroll;
}

#partner-agreement-modal .agreement-footer {
    height: 39px;
    display: flex;
    justify-content: right;
}

#partner-agreement-modal .agreement-spinner {
    height: 50vh;
    margin-bottom: var(--spacing-m);
    padding: var(--spacing-s);
    display: flex;
    justify-content: center;
    align-items: center;
}
